<mat-nav-list>
  <div class="flex flex-row justify-center items-center">
    <span class="text-lg">Acciones para <strong>{{data.name}}</strong></span>
  </div>

  <a href="#" mat-list-item (click)="openLink($event)" [routerLink]="['/app/products/edit/' + data.id]">
    <span mat-line><i class="text-xl mr-2 fas fa-edit"></i>Editar <strong>#{{data.name}}</strong></span>
  </a>
  <a href="#" mat-list-item (click)="deleteData($event)">
    <span mat-line><i class="text-xl mr-2 fas fa-minus-square"></i>Eliminar {{data.name}}</span>
  </a>
</mat-nav-list>
