<div>
  <div class="flex flex-row justify-center items-center">
    <div class="bg-white rounded-full h-36 w-36 flex flex-col justify-center items-center shadow-lg">
      <div class="bg-gray-300 rounded-full h-32 w-32 flex flex-row justify-center items-center relative" [routerLink]="['profile']">
        <div class="h-full w-full rounded-full bg-black absolute flex flex-col justify-center items-center hover:opacity-50 opacity-0" (click)="openProfilePhotoBottomSheet()">
          <i class="text-2xl text-white fas fa-camera opacity-100 "></i>
        </div>
        <img *ngIf="(auth.user$ | async)?.photoURL" class="h-full w-full rounded-full " src="{{(auth.user$ | async)?.photoURL}}" alt="Profile Photo">
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center items-center mt-4">
    <span class="text-xl">{{(auth.user$ | async)?.displayName}} <i class="fas fa-edit text-gray-300"></i></span>
  </div>
  <div class="flex flex-row justify-center items-center mt-2" *ngIf="(auth.user$ | async)?.createdDate">
    <span class="text-md text-gray-400">Desde {{(auth.user$ | async)?.createdDate | date: 'longDate'}}</span>
  </div>

</div>
