<div class="flex items-center min-h-screen p-4 bg-gray-100 lg:justify-center" [formGroup]="form" (keyup.enter)="form.valid ? sendForgotPasswordEmail() : null">
  <div class="flex flex-col bg-white rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md">
    <div class="p-4 py-6 text-white bg-blue-500 md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly">
      <div class="my-3 text-4xl font-bold tracking-wider text-center">
        <a [routerLink]="['/']">On Point In Time</a>
      </div>
      <p class="mt-6 font-normal text-center text-gray-300 md:mt-0">
        On point in time es una aplicación que permite gestionar reservaciones de una manera sencilla e intuitiva. Lo único que necesitas es registrarte en la aplicación con cualquiera de lo métodos
        disponibles
      </p>
      <p class="flex flex-col items-center justify-center mt-10 text-center">
        <span>Ya tienes una cuenta?</span>
        <a [routerLink]="['/login']" class="underline">Ingresa!</a>
      </p>
      <!-- <p class="mt-6 text-sm text-center text-gray-300">
        Read our <a href="#" class="underline">terms</a> and <a href="#" class="underline">conditions</a>
      </p> -->
    </div>
    <div class="p-5 bg-white md:flex-1">
      <h3 class="my-4 text-2xl font-semibold text-gray-700">Olvidé mi contraseña</h3>
      <div class="flex flex-col space-y-5">
        <span>Por favor, escribe el email con el que estás registrado en la aplicación y te enviaremos a correo instrucciones para cambiar tu contraseña.</span>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput placeholder="Correo Electrónico" class="w-full" formControlName="email" type="email" id="email">
          <mat-error *ngIf="form.controls.email.hasError('required')">
            El email es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('email')">
            El email debe ser válido
          </mat-error>
        </mat-form-field>

        <div>
          <div class="flex flex-row justify-end items-center">
            <div>
              <button mat-stroked-button color="warn" [routerLink]="['/']">Cancelar</button>
            </div>
            <div class="ml-2">
              <button *ngIf="!loading" mat-raised-button color="primary" [disabled]="form.invalid" class="ml-4 w-44" (click)="sendForgotPasswordEmail()"> Cambia tu contraseña</button>
              <button *ngIf="loading" mat-raised-button color="primary" [disabled]="true" class="ml-4 h-9 w-44 flex flex-row justify-center items-center">
                <mat-spinner [diameter]="24"></mat-spinner>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
