<div class="flex flex-row justify-between items-center my-2">
  <span class="text-lg font-medium text-blue-600 uppercase tracking-wide">Compras registradas</span>
</div>

<mat-accordion multi class="rounded-md">
  <mat-expansion-panel *ngFor="let purchase of purchases$ | async; let index= index;" class="bg-transparent shadow-none rounded-md">
    <mat-expansion-panel-header class="h-16 p-0 left-0 rounded-md bg-white mb-2 ">
      <div class="flex flex-col w-16">
        <img class="object-cover h-16 w-16 rounded-l-md" src="{{purchase?.client?.photoURL || 'https://style.anu.edu.au/_anu/4/images/placeholders/person.png'}}"
          alt="Foto de {{purchase?.client?.displayName}}">
      </div>
      <div class="flex flex-col justify-center">
        <div class="absolute right-2 top-2">
          <span class="font-medium">Factura: #{{purchase.billNumber}}</span>
        </div>
        <div class="flex flex-row pl-2 justify-between w-full">
          <span>{{purchase.client?.displayName || 'Nombre no especificado'}}</span>
        </div>
        <div class="flex flex-row pl-2 justify-between w-full h-4">
          <span>Fecha de compra: {{purchase.purchasedDate | date}}</span>
        </div>
        <div class="flex flex-row pl-2 justify-between w-full h-4">
          <span>Total: {{purchase.total | currency:'CRC'}}</span>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div class="bg-white py-4 relative">
      <button *ngIf="isUserAdmin" class="absolute right-0 top-5" (click)="openBottomSheet(purchase)"><i class="fas fa-edit"></i></button>
      <span class="font-medium text-lg">Productos adquiridos:</span><br>
      <div *ngFor="let product of purchase.products" class="flex flex-row justify-between items-center even:bg-gray-200 odd:bg-gray-100 px-4">
        <span class="flex flex-col w-1/2">{{product.name}}</span>
        <div class="flex flex-col w-1/2">
          <div class="flex flex-row justify-between">
            <span class="flex flex-col items-start">{{product.startDateDisplay | date}} - {{product.expirationDateDisplay | date}}</span>
            <span class="flex flex-col items-end">{{product.price | currency: 'CRC'}}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>


<button [routerLink]="['add']" *ngIf="(auth.user$ | async)?.isAdmin ||(auth.user$ | async)?.isSuperAdmin" class="bg-blue-500 fixed bottom-4 right-4 h-12 w-12 shadow-sm text-white rounded-full"><i
    class="fas fa-plus"></i></button>
