<div class="flex flex-row justify-between items-center my-2">
  <span class="text-lg font-medium text-blue-600 uppercase tracking-wide">Plantillas de reservaciones</span>
</div>
<div *ngFor="let reservationSchedule of reservationSchedules$ | async; let index= index;" class="bg-white rounded-md h-14 w-full flex flex-row shadow-md mb-2 relative">
  <div class="flex flex-col justify-center">
    <div class="flex flex-row pl-2 justify-between w-full">
      <span>{{reservationSchedule.displayName}}</span>
    </div>
    <div class="flex flex-row pl-2 justify-between w-full">
      <span>Frecuencia: {{reservationSchedule.frequencyDisplayName}}</span>
    </div>
  </div>
</div>


<button [routerLink]="['add']" *ngIf="(auth.user$ | async)?.isAdmin ||(auth.user$ | async)?.isSuperAdmin" class="bg-blue-500 fixed bottom-4 right-4 h-12 w-12 shadow-sm text-white rounded-full"><i
    class="fas fa-plus"></i></button>
