<div [formGroup]="form">
  <div class="flex flex-row justify-center items-center mb-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre de plantilla</mat-label>
      <input matInput placeholder="Nombre de plantilla" class="w-full" formControlName="displayName" type="text" id="displayName">
      <mat-error *ngIf="form.controls.displayName.hasError('required')">
        El nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-row justify-center items-center mb-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Frecuencia</mat-label>
      <mat-select placeholder="Frecuencia" formControlName="frequency">
        <mat-option *ngFor="let frequency of reservationScheduleFrequencyOptions" value="{{frequency.value}}">{{frequency.displayName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.frequency.hasError('required')">
        La frecuencia es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-row justify-center items-center mb-4">
    <div class="flex flex-col w-full">
      <div class="flex flex-row bg-white shadow-sm mb-2 h-8 w-full rounded-md justify-between items-center px-4 cursor-pointer" *ngFor="let item of form.controls.distribution.value"
        (click)="openTimeDialog(item)">
        <span>
          {{getDistributionName(item.day, form.controls.frequency.value)}}
        </span>
        <span class="text-gray-500 text-xs italic">
          {{getDaySchedule(item.times)}} {{item.times.length | number}} Tiempos de reserva
        </span>

      </div>
    </div>
  </div>

  <div class="flex flex-row items-center justify-between fixed z-20 px-4 w-full h-12 bg-white shadow-md bottom-0 left-0">
    <div>
      <button mat-stroked-button color="warn" [routerLink]="['../']">Cancelar</button>
    </div>
    <div class="ml-2">
      <button mat-raised-button color="primary" [disabled]="form.invalid" class="ml-4" (click)="saveForm()">Guardar</button>
    </div>
  </div>
</div>
