<div class="h-full">
  <!-- Header -->
  <div class="flex flex-row bg-blue-500 h-12 items-center px-4 justify-between">
    <button class="text-white font-normal text-xl" (click)="isSidebarOpen = !isSidebarOpen"><i class="fas fa-bars"></i></button>
    <div class="bg-white rounded-full h-10 w-10 flex flex-col justify-center items-center">
      <div class="bg-gray-300 rounded-full h-9 w-9 flex flex-row justify-center items-center">
        <img class="h-full w-full rounded-full" src="{{(auth.user$ | async)?.photoURL}}" alt="Profile Photo">
      </div>
    </div>
  </div>
  <!-- Content & Sidebar-->
  <div class="w-full">


    <!-- Sidebar -->
    <div [hidden]="!isSidebarOpen" class="bg-gray-200 fixed max-w-xxs w-full h-full">
      <ul>
        <li>Calendario</li>
        <li>Contáctenos</li>
        <li>Productos</li>
        <li>Configuración</li>
        <li>Cerrar Sesión</li>
      </ul>
    </div>
    <!-- Content -->
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
