<div class="h-full" *ngIf="auth.user$ | async; let user">
  <!-- Header -->
  <div class="flex flex-row bg-blue-500 h-12 items-center px-4 justify-between shadow-lg z-20 fixed w-full">
    <button class="text-white font-normal text-xl" (click)="isSidebarOpen = !isSidebarOpen"><i class="fas fa-bars"></i></button>
    <div class="flex-col">
      <div class="flex flex-row justify-center items-center">
        <div class="flex flex-col mr-4">
          <span *ngIf="(updatesService.hasUpdates$ | async); else noUpdates" [matMenuTriggerFor]="menu" class="text-xl text-white"><i class="fas fa-bell cursor-pointer" matBadge="1"
              matBadgeColor="warn" matBadgeSize="small"></i></span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updatesService.doAppUpdate()">
              <i class="fas fa-certificate mr-2"></i>
              <span>Actualiza la aplicación</span>
            </button>
          </mat-menu>
          <ng-template #noUpdates>
            <span class="text-xl text-white"><i class="fas fa-bell cursor-pointer text-gray-300"></i></span>
          </ng-template>
        </div>
        <div class="flex flex-col">
          <div class="bg-white rounded-full h-10 w-10 flex flex-col justify-center items-center">
            <div class="bg-gray-300 rounded-full h-9 w-9 flex flex-row justify-center items-center" [routerLink]="['profile']" (click)="isSidebarOpen = false">
              <img class="h-full w-full rounded-full" src="{{(auth.user$ | async)?.photoURL || 'https://style.anu.edu.au/_anu/4/images/placeholders/person.png'}}" alt="Profile Photo">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Content & Sidebar-->
  <div class="w-full pt-12">
    <!-- Sidebar -->
    <div [hidden]="!isSidebarOpen" class="bg-gray-200 fixed max-w-xxs w-full h-full shadow-md z-10">
      <ul>
        <li class="menu-item" *ngIf="(auth.user$ | async)?.isAdmin" [routerLink]="'dashboard'"><i class="fas fa-chart-line"></i>Estadísticas</li>
        <li class="menu-item" [routerLink]="'calendar'" (click)="isSidebarOpen = false"><i class="far fa-calendar"></i>Calendario</li>
        <li class="menu-item" [routerLink]="'contact'" (click)="isSidebarOpen = false"><i class="far fa-id-card"></i>Contáctenos</li>
        <li class="menu-item" [routerLink]="'products'" (click)="isSidebarOpen = false"><i class="fas fa-shopping-basket"></i>Productos</li>
        <li class="menu-item" [routerLink]="'users'" (click)="isSidebarOpen = false" *ngIf="user.isAdmin || user.isSuperAdmin"><i class="fas fa-users"></i>Usuarios</li>
        <li class="menu-item" [routerLink]="'purchases'" (click)="isSidebarOpen = false"><i class="fas fa-shopping-bag"></i>Compras</li>
        <li class="menu-item" [routerLink]="'payment-info'" (click)="isSidebarOpen = false"><i class="fas fa-info-circle"></i>Información de pago</li>
        <!-- <li class="menu-item"><i class="fas fa-cog"></i>Configuración</li> -->
        <li class="menu-item" (click)="auth.signOut()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</li>
      </ul>
    </div>
    <!-- Content -->
    <div class="max-w-screen-md mx-auto h-full overflow-y-auto px-2 py-1">
      <router-outlet class="h-full max-w-screen-md"></router-outlet>
    </div>
    <div *ngIf="isSidebarOpen" (click)="isSidebarOpen = false" class="h-full w-full bg-gray-600 opacity-25 fixed overflow-y-hidden top-12 left-0"></div>
  </div>

</div>
