<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  <div class="border shadow-md rounded-md pb-2 mt-2">
    <div class="flex flex-row bg-blue-500 rounded-t-md justify-center items-center">
      <span class="text-white">Usuarios</span>
    </div>
    <app-users-chart></app-users-chart>
  </div>
  <div class="border shadow-md rounded-md pb-2 mt-2">
    <div class="flex flex-row bg-blue-500 rounded-t-md justify-center items-center">
      <span class="text-white">Ventas</span>
    </div>
    <app-purchases-chart></app-purchases-chart>
  </div>
</div>
