// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
body {
  margin: 0;

  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.qrCode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}